<h1>Hello, World!</h1>
<p>In a future, this page will contain some another information</p>
<div class = "container center">
  <div class = "waves-effect waves-light btn">
    <i class="tiny material-icons">bookmark_border</i>
    <%= link_to "CARDS", cards_path , class: "black-text text-darken-2", method: :get %>
  </div>
</div>