<h2 style = "text-align: center; padding-top: 50px;"><%= t '.oops' %></h2>
<h3 style = "text-align: center; padding-top: 20px; padding-bottom: 50px;"><%= t '.no_page' %></h3>
<div class = "container center">
  <div class = "waves-effect waves-light btn">
    <i class="tiny material-icons">bookmark_border</i>
    <%= link_to t('.root_button'), root_path , class: "black-text text-darken-2" %>
  </div>
</div>
