<%= stylesheet_link_tag "error_404" %>
<div class="site">
    <div class="sketch">
        <div class="bee-sketch red"></div>
        <div class="bee-sketch blue"></div>
    </div>
    <h1>404:
        <small>The page you were looking for does'n exist </small>
    </h1>
</div>
