<%= stylesheet_link_tag "boards" %>
<br>
<%= link_to t('.back_to_board').upcase, board_cards_path(@board), style: "color: gray; font-size: large;"%>
<br>
<h2><%= @board.name %></h2>
<br>
<br>
<%= render 'carousel' %>