<br>
  <%= link_to t('.back_to_board').upcase, board_cards_path(@board), style: "color: gray; font-size: large;"%>
<h2><%= t'.new_card' %></h2>

<div class="row">
  <div class="input-field col s12">
    <i class="material-icons tooltipped right" data-position="left" data-tooltip="If you want to type on Ruby: 
    ```ruby >>>your code here<<< ```">help</i>
  </div>
</div>

<%= render '/cards/form' %>
