// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 .carousel {
   	margin: 0 auto;
   .carousel-item {
    visibility: visible;
    width: 50%;
    height: 100%;
    overflow: auto;
}
}
