// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
    height: 100%;
    overflow: auto;
}
    .card-content {
    min-height: 300px;
}
    .show {
      font-size: 18px;
      height: 42px;
}
    .card-reveal {
      overflow: auto;
      position: static;
    }

    .input-field {
      left: 0;
      right: 0;
      position: relative;
      bottom: 0px;
}

p {
	font-size: 25px;
}
	
.smaller {
	  font-size:18px;
}
